@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>Transient 1: @ViewBag.Transient1</div>
<div>Scoped 1: @ViewBag.Scoped1</div>
<div>Singleton 1: @ViewBag.Singleton1</div>

<div>Transient 2: @ViewBag.Transient2</div>
<div>Scoped 2: @ViewBag.Scoped2</div>
<div>Singleton 2: @ViewBag.Singleton2</div>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
